.container {
  display: table;
  justify-content: center;

     
    align-items: center;
    justify-content: center;
    height: 100%;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
 /* .mat-focused */
/* ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  border-color:brown!important;
} */
.Absolute-Center {
  width: 25vh;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  
}
mat-form-field{
    text-align: center;
    width:100%;
}
class{
  background: #3f51b5;
  color: white;
}

