<!-- <div class="row">
    <div class="col-*-8">
      <mat-form-field appearance="outline">
        <mat-label>שם משפחה</mat-label>
        <input matInput placeholder="Placeholder" []> -->

<!-- <mat-hint>Hint</mat-hint> -->
<!-- </mat-form-field>
    </div>


     
  </div> -->

 <!-- <div class="col-3">  -->
  
    <div class="col-*-8">
      <div class="row"> 
 <mat-form-field class="example-full-width" >
    <mat-label >שם משפחה:</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>שם האב</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

   <mat-form-field class="example-full-width">
    <mat-label> ת.ז אב</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

   <mat-form-field class="example-full-width">
    <mat-label>תאריך לידה אב</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

   <mat-form-field class="example-full-width">
    <mat-label>שם האב</mat-label>
    <input matInput placeholder="">
  </mat-form-field>
</div>
  </div>

 <!-- 
<label for="LastName"></label> 
  <div dir="rtl" >
<input class="effect-1" type="text" name="LastName" dir="rtl">
   <span class="focus-border" direction="rtl"></span>
 



  
WifeName varchar(15),
WifeId int,
WifeBirthday date,
Sector  varchar(30),--מפתח זר מטבלת חוגים
FamilyStatus  varchar(15),--מפתח זר מטבלת מצ משפחתי
NumberChildren int,
Address  varchar(15),
Street  varchar(15),
BuildingNumber  int,
NumFloor int,
ApartmentNumber int,
phone  int,
phoneHusband int,
PhoneWife int, -->
 <!-- </div>  -->
